---
import Layout from '@layouts/Layout.astro'

import Footer from '@components/home/Footer.astro'
import Founder from '@components/home/Founder.astro'
import Hero from '@components/home/Hero.astro'
import Intro from '@components/home/Intro.astro'
import { NavBar } from '@components/home/NavBar.tsx'
import Persona from '@components/home/Persona.astro'
import Remark from '@components/home/Remark.astro'
import Sparkle from '@components/home/Sparkle.astro'
import Subscribe from '@components/home/Subscribe.astro'
import Tact from '@components/home/Tact.astro'

const title = 'LifeOS - next-step evolution for the AI era'
const description =
  'LifeOS combines Time Management and Personal Knowledge Management to help individuals adapt to an era of high velocity, massive information flows, and the rise of artificial intelligence.'

import founder from '@assets/founder.jpg'
---
<Layout title={title} description={description}>
  <Hero/>
  <NavBar/>
  <Intro/>
  <Remark id="test" author={{
    name: 'Kamil',
    role: 'Founder',
    image: founder.src,
  }}>
    <p>
      “It doesn't take all the running we can do to keep in the same place anymore.
      We need to start building our digital subconscious right now.”
    </p>
  </Remark>
  <Sparkle index="1"/>
  <Tact index="2"/>
  <Persona index="3"/>
  <Founder index="4"/>
  <Subscribe/>
  <Footer/>
</Layout>
