---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';

let title = '🧠 LifeOS'
---

<Layout title={title} description="Official site.">
  <main>
    <Welcome title={title}/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
