---
import Pattern from '@components/patterns/Grid.astro'
---
<footer class="relative pb-20 pt-5 sm:pb-32 sm:pt-14">
  <div class="absolute inset-x-0 top-0 h-32 text-slate-900/10 [mask-image:linear-gradient(white,transparent)]">
    <Pattern id="footer-pattern" x="50%"/>
  </div>
  <div class="relative text-center text-sm text-slate-600">
    <p>
      made with ❤️ for everyone by
      <a class="underline hover:no-underline" href="https://www.octolab.org/">OctoLab</a>
    </p>
  </div>
</footer>
