---
import Container from '@components/Container.astro'
---
<section id="intro" aria-label="Introduction" class="pb-16 pt-20 sm:pb-20 md:pt-36 lg:py-32">
  <Container className="text-lg tracking-tight text-slate-700">
    <h2 class="font-display text-4xl font-bold tracking-tight text-slate-900">
      We build a better place for the human digital subconscious
    </h2>
    <p class="mt-4">
      Living in an extraordinary and pivotal era today, we witness AI seamlessly
      integrating into virtually every aspect of our existence. How we interact
      with the digital world is evolving – from text and voice interfaces to
      augmented reality and neural interfaces. We're starting to engage with
      this world in our natural language. The lines between the tangible and
      the virtual are blurring.
    </p>
    <p class="mt-4">
      This wondrous realm offers limitless opportunities as well as unprecedented risks.
      The best course of action we can take is to prepare and adapt. We can embrace
      this world as part of our reality, enhance our capabilities, and gain superpowers
      that enrich our lives with more profound meaning and fulfillment.
    </p>
    <p class="mt-4">
      Just imagine no longer being burdened by the overwhelming flow of information you
      currently face. You could be productive and punctual effortlessly without needing
      overtime or enduring stress. You’ll be able to learn what interests you in
      mere seconds, have instant access to knowledge, and remember everything that
      matters to you. You will wake up one day to find these superpowers at your
      disposal. You should know that the path to them starts here and now.
    </p>
    <p class="mt-8">
      At <a href="https://www.octolab.org/" target="_blank" class="underline hover:no-underline">OctoLab</a>,
      we are constantly exploring how to harness these boundless possibilities
      for the betterment of humanity. Our mission is to assist people in
      achieving their most ambitious goals by incorporating AI into daily life.
    </p>
  </Container>
</section>
