---
import Heading from '@components/home/Heading.astro'

import cover from '@assets/persona.jpg'

interface Props {
  index: string
}

const {index} = Astro.props
---
<section id="persona" aria-labelledby="persona-heading" class="relative">
  <div
    class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16">
    <img src={cover.src} class="h-full w-full object-cover object-center lg:h-full lg:w-full lg:rounded-r-6xl"
         alt="Black leather journal with silver steel disc binding resting on wooden shelf with machined steel pen."/>
  </div>
  <div
    class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-32 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
    <div class="lg:col-start-2">
      <Heading id="persona-title" number={index}>🫅 Persona</Heading>
      <p class="mt-4 text-4xl font-bold tracking-tight text-gray-900">How you look</p>
      <p class="mt-4 text-gray-500">
        The Personal Social Media Management platform.
      </p>
      <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
        <div>
          <dt class="font-medium text-gray-900">Showcase your versatility</dt>
          <dd class="mt-2 text-gray-500">
            Distinct and unique profiles can represent every aspect of your life, each reflecting a facet of your personality. Manage and translate them to appropriate social profiles in one place.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Build your digital identity</dt>
          <dd class="mt-2 text-gray-500">
            Train your private AI with your knowledge, behavior, unique style,
            and personality to use the model to enhance the quality of your posts
            and create accompanying illustrations automagically.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Take back control of your data</dt>
          <dd class="mt-2 text-gray-500">
            Back up your social media posts, photos, and other digital memories.
            Choose which information to provide to your various social networks.
            Migrate the data between them whenever you want.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Grow your relationships</dt>
          <dd class="mt-2 text-gray-500">
            Finally, manage all your personal and professional relationships as a part
            of your knowledge base. Maintain a detailed record of your interactions,
            enhancing the quality and depth of communications.
          </dd>
        </div>
      </dl>
      <p class="mt-8">
        <a href="https://jointo.space/" target="_blank"
           class="text-base font-medium text-blue-600 hover:text-blue-800">
          Learn more at jointo.space
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</section>
