---
import Heading from '@components/home/Heading.astro'

import cover from '@assets/sparkle.jpg'

interface Props {
  index: string
}

const {index} = Astro.props
---
<section id="sparkle" aria-labelledby="sparkle-heading" class="relative">
  <div
    class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16">
    <img src={cover.src} class="h-full w-full object-cover object-center lg:h-full lg:w-full lg:rounded-r-6xl"
         alt="Black leather journal with silver steel disc binding resting on wooden shelf with machined steel pen."/>
  </div>
  <div
    class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-32 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
    <div class="lg:col-start-2">
      <Heading id="sparkle-title" number={index}>✨ Sparkle</Heading>
      <p class="mt-4 text-4xl font-bold tracking-tight text-gray-900">How you think</p>
      <p class="mt-4 text-gray-500">
        The personal development framework and Personal Knowledge Management platform.
      </p>
      <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
        <div>
          <dt class="font-medium text-gray-900">Organize your digital life</dt>
          <dd class="mt-2 text-gray-500">
            The SPARKLE framework builds upon Tiago Forte's PARA method to give you
            mastery over the relentless tide of information, empowering you to harness
            and navigate it effectively.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Talk with your knowledge</dt>
          <dd class="mt-2 text-gray-500">
            Engage with your knowledge base as if conversing with a personal mentor
            intuitively and naturally using chat or voice. Search through meanings,
            not just keywords.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Automate note-taking</dt>
          <dd class="mt-2 text-gray-500">
            Easily capture, enhance, and interlink your thoughts. Elevate them into
            extraordinary ideas and inspiring work, or seamlessly share these gems
            with those who matter most.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Private by design</dt>
          <dd class="mt-2 text-gray-500">
            For your privacy, all your notes are stored locally on your computer,
            and you don't need to be online to work. They are accessible to you
            and only to you anytime.
          </dd>
        </div>
      </dl>
      <p class="mt-8">
        <a href="https://sparkle.wiki/" target="_blank"
           class="text-base font-medium text-blue-600 hover:text-blue-800">
          Learn more at sparkle.wiki
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</section>
