---
import Heading from '@components/home/Heading.astro'

import cover from '@assets/tact.jpg'

interface Props {
  index: string
}

const {index} = Astro.props
---
<section id="tact" aria-labelledby="tact-heading" class="relative">
  <div
    class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:right-0 lg:h-full lg:w-1/2 lg:pl-4 xl:pl-16">
    <img src={cover.src} class="h-full w-full object-cover object-center lg:h-full lg:w-full lg:rounded-l-6xl"
         alt="Black leather journal with silver steel disc binding resting on wooden shelf with machined steel pen."/>
  </div>
  <div
    class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 sm:pb-32 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
    <div class="lg:col-start-1">
      <Heading id="tact-title" number={index}>🤹 Tact</Heading>
      <p class="mt-4 text-4xl font-bold tracking-tight text-gray-900">How you act</p>
      <p class="mt-4 text-gray-500">
        The next-generation Time Management software and Work-Life Management platform.
      </p>
      <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
        <div>
          <dt class="font-medium text-gray-900">Take care of your Time</dt>
          <dd class="mt-2 text-gray-500">
            Gain complete control of your time with ease. Have a clear overview of your
            activities and analyze how you spend your time to optimize them. Free up time
            for what matters.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Take care of your Attention</dt>
          <dd class="mt-2 text-gray-500">
            Keep what's crucial always in clear view. Never forget or miss any key event
            or task vital to you. Calendar, assignments, projects, and communication –
            all conveniently gathered in one place.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Take care of your Concentration</dt>
          <dd class="mt-2 text-gray-500">
            Access an environment that fosters asynchronous work and helps minimize
            context disruption. Implement best practices for focused and efficient
            productivity.
          </dd>
        </div>
        <div>
          <dt class="font-medium text-gray-900">Take care of your Tranquility</dt>
          <dd class="mt-2 text-gray-500">
            Remember to prioritize quality rest. Tact utilizes statistical data to help
            prevent burnout and highlights moments when your work-life balance is off-kilter.
            Stay healthy, stay productive.
          </dd>
        </div>
      </dl>
      <p class="mt-8">
        <a href="https://tact.run/" target="_blank"
           class="text-base font-medium text-blue-600 hover:text-blue-800">
          Learn more at tact.run
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</section>
